{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2 // for JSON 2 tabs
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always" // wrap word for Markdown
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "printWidth": 120 // maximal long line lenght for tsx
      }
    }
  ]
}
